@import "tailwindcss";
/* ============================
   Chrome Autofill Fix
============================ */

input,
textarea,
select {
  background: transparent;
  color: #F8FAFC;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #F8FAFC !important;

  -webkit-box-shadow: 0 0 0px 1000px #111111 inset !important;

  box-shadow: 0 0 0px 1000px #111111 inset !important;

  transition: background-color 99999s ease-in-out 0s;
}